/* barra de pesquisa */
.barra-Pesquisa{
    display: flex;
    width: 400px;
    height: 40px;
    font-size: 14px;
    margin: auto;
    background-color: white;
    padding: 9px;
    border-radius: 12px;
}
.barra-Pesquisa input{
    border: none;
    outline: none;
    width: 240px;
    font-size: 14px;
    margin-left: 10px;
}
.barra-Pesquisa img{
    width: 22px;
    height: 22px;
    background-color: white;
    margin:0 7px;
    cursor: pointer;
}
.pesquisa-e-filtros{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Make the dropdown overlay the search bar */
.barra-Pesquisa{
    display: flex;
    width: 800px;
    height: 50px;
    font-size: 14px;
    margin: auto;
    padding: 9px;
    border-radius: 12px;
    position: relative; /* needed for absolute dropdown */
    align-items: center;
    gap: 8px;
    margin-top: 25px;
}
.barra-Pesquisa input{
    font-size: 14px;
    margin-left: 10px;
    width: 100%;
}
.barra-Pesquisa .dropdown{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
}
.card-img{
    max-width: fit-content;
}
.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}
.card{
    width: 300px;
    height: 425px;
    border: 1px solid #ccc;
    max-width:300px;
    max-width:425px;
    border-radius: 15px;
    padding: 0;
}
#btn-adquirido{
    color: #0D6EFD;
    border: 2px solid #0D6EFD;
    width: 100%;
    cursor: auto;
}
.card-icon{
    width: 75px;
}

.tipo{
    font-size:12px;
    color: #66666671;
    margin: 0;
}


