* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Barra de Navegação */

.V-bucks{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333333;
}
nav{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 20px;
}
.nav-paginas{
    margin-right: 15px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    list-style: none;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 5px 20px;
    border-radius: 15px;;
    background-color: #33333334;
}
.nav-paginas li{
    display: inline;
    margin-right: 15px;
 }

.nav-paginas a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    margin: 5px 10px;
}
.qtd-V-bucks{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333333;
    margin-left: 10px;
    
}
.nav-paginas a:hover{
    transform: scale(1.5);
    transition: 0.2s ease-in-out;
    color: #33CC99;
    text-decoration: underline;
}
.qtd-V-bucks img{
    width: 20px;
    height: 20px;

    margin-right: 5px;
}
.qtd-V-bucks h2{
    display: inline;
    font-size: 16px;
}
body{
    background-color: #e6e6e6;
}
nav button {
    background-color: #33CC99;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

nav .btn:hover {
    background-color: #28a085;
    transition: 0.2s ease-in-out;
}
.card-img{
    max-width: fit-content;
    max-height: 40%;
    margin: auto; 
}
.card{
    width: 350px;
}
