version: '3.8'

services:
  
  app:
   
    build: .
    
    ports:
      - '80:80'
   
    depends_on:
      - db

 
  db:
 
    image: mysql:8.0
  
    environment:
      MYSQL_ROOT_PASSWORD: root 
      MYSQL_DATABASE: mydb    
   
    volumes:
      - ./mydb.sql:/docker-entrypoint-initdb.d/init.sql

    restart: always