*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.V-bucks{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333333;
}
nav{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 20px;
}
.nav-paginas{
    margin-right: 15px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    list-style: none;
    justify-content: center
}
.nav-paginas li{
    display: inline;
    margin-right: 15px;
}

.nav-paginas a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;

}
.qtd-V-bucks{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333333;
    margin-left: 10px;
    
}
.qtd-V-bucks img{
    width: 20px;
    height: 20px;

    margin-right: 5px;
}
.qtd-V-bucks h2{
    display: inline;
    font-size: 16px;
}